# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Archivos comprimidos o personales
*.zip
*.rar
*.7z
